.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.content{
  width: 500px;
  margin: auto;
  height: 600px;
  background: #282D35;
  background-image: url("./img/logo.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}
.nav-bar{
  background: #2b2b2b;
  display: flex;
  align-items: center;
}
.Nav-logo-text{
  margin-right: auto;
  color: #61DAFB;
  font-weight: 600;
}
.nav-logo-course{
  color: #DEEBF8;
  font-weight: 600;
}
.icon{
  width: 60px;
  margin-right: 7px;
}
main{
  color: #fff;
  font-weight: 600;
  padding: 57px 27px;
  
}
.header{
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05rem;
}
.list-items{
  margin-top: 46px;
}
.list-items li{
  line-height: 19px;
  padding-block: 10px;
}
.list-items li::marker{
  font-size: 1.4rem;
  color: #61DAFB;
}